astropy==8.0.1
astropy-iers-data==0.2026.9.21.0.56.25
contourpy==1.4.0
cycler==0.12.1
fonttools==4.65.0
ImageIO==2.37.4
iniconfig==2.3.0
kiwisolver==1.5.1
lazy-loader==0.6
matplotlib==3.11.2
networkx==3.7
numpy==2.5.3
packaging==26.3
pillow==12.3.0
pluggy==1.6.0
pyerfa==2.0.1.5
Pygments==2.21.0
pyparsing==3.3.3
pytest==9.1.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
scikit-image==0.26.0
scipy==1.18.1
six==1.17.0
tifffile==2026.9.20
